In [13]:
import requests
import re
import nltk
import sklearn
import pandas as pd

## API Request Code
This Python script sends a GET request to the local-business-data.p.rapidapi.com API using the requests library to search for pizza places within a specified location.

In [85]:
import requests

url = "https://local-business-data.p.rapidapi.com/search-in-area"

querystring = {"query":"pizza","lat":"37.359428","lng":"-121.925337","zoom":"13","limit":"20","language":"en","region":"us","extract_emails_and_contacts":"false"}

headers = {
	"x-rapidapi-key": "8c3d25328fmshd598205a362f267p1ba927jsnf0ec88b37ae4",
	"x-rapidapi-host": "local-business-data.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [9]:
response.json().keys()

dict_keys(['status', 'request_id', 'parameters', 'data'])

In [15]:
data = pd.json_normalize(response.json(),record_path='data')

## Data containing the business information (business_id)

In [17]:
data.head()

,business_id,google_id,place_id,google_mid,phone_number,name,latitude,longitude,full_address,review_count,...,about.details.Pets.Dogs allowed,about.details.From the business.Identifies as Asian-owned,about.details.From the business.Identifies as women-owned,about.details.Offerings.Private dining room,about.details.Parking.On-site parking,about.details.Atmosphere.Historic,about.details.Children.Good for kids birthday,about.details.Accessibility.Assistive hearing loop,about.details.Offerings.Organic dishes,about.details.Parking.Paid parking lot
0,0x808fcb1648094807:0x5451c11476f8986f,0x808fcb1648094807:0x5451c11476f8986f,ChIJB0gJSBbLj4ARb5j4dhTBUVQ,/g/1tcv1pcf,+14082805070,Mountain Mike's Pizza,37.327783,-121.932934,"Mountain Mike's Pizza, 2011 Naglee Ave, San Jo...",389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0x808fcc62ab368aa7:0xb37ef00c291c2b00,0x808fcc62ab368aa7:0xb37ef00c291c2b00,ChIJp4o2q2LMj4ARACscKQzwfrM,/g/1tgzblk0,+14082954141,Giovanni's Pizza,37.358722,-121.890265,"Giovanni's Pizza, 862 N 13th St, San Jose, CA ...",108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0x808fccc708a5688d:0x3065e7d923a7c91f,0x808fccc708a5688d:0x3065e7d923a7c91f,ChIJjWilCMfMj4ARH8mnI9nnZTA,/g/1tg5zwj_,+14089770605,San Carlos Italian Pizza,37.336186,-121.876909,"San Carlos Italian Pizza, 484 E San Carlos St,...",226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0x808e335728daf6c7:0xb82c97f48101f715,0x808e335728daf6c7:0xb82c97f48101f715,ChIJx_baKFczjoARFfcBgfSXLLg,/g/12hv4f3p2,+14082951082,Fast Pizza Delivery,37.310181,-121.896217,"Fast Pizza Delivery, 860 Willow St, San Jose, ...",121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0x808fccc7a7cf62df:0x40770d0240a78a21,0x808fccc7a7cf62df:0x40770d0240a78a21,ChIJ32LPp8fMj4ARIYqnQAINd0A,/g/11cjkpkfh_,+14086387076,Sammy G's Pizzeria,37.335743,-121.877096,"Sammy G's Pizzeria, 330 S 10th St #100, San Jo...",484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data.to_csv(r"C:\Users\HP\Videos\New folder\output.csv", index=False)

In [19]:
import requests

url = "https://local-business-data.p.rapidapi.com/business-reviews"

querystring = {"business_id":"0x808fcb1648094807:0x5451c11476f8986f","limit":"20","sort_by":"newest","region":"us","language":"en"}

headers = {
	"x-rapidapi-key": "8c3d25328fmshd598205a362f267p1ba927jsnf0ec88b37ae4",
	"x-rapidapi-host": "local-business-data.p.rapidapi.com"
}

response1 = requests.get(url, headers=headers, params=querystring)


response1

## Data containing information on review from each business ID

In [27]:
data1 = pd.json_normalize(response1.json(), record_path="data")

In [33]:
data1.head(2)

,review_id,review_text,rating,review_datetime_utc,review_timestamp,review_link,review_photos,review_language,like_count,author_id,...,review_form.What did you get?,review_form.How much did you spend per person?,review_form.Would you recommend this place to vegetarians?,review_form.How would you describe the vegetarian offerings?,review_form.How is the parking here?,review_form.What parking options are available?,review_form.Can you share more about these topics?,hotel_rating_breakdown,review_form.Which dishes do you recommend?,review_form
0,ChdDSUhNMG9nS0VJQ0FnTUNnX292Q19RRRAB,Bueno para comer,4,2025-02-17T20:54:58.433Z,1739825698,https://www.google.com/maps/reviews/data=!4m8!...,None,es,0,100268690285140024227,...,Other,$50â€“100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ChdDSUhNMG9nS0VJQ0FnTUNnOHZySHZ3RRAB,Shout out to sorat she helped me with grace ev...,5,2025-02-15T19:18:46.054Z,1739647126,https://www.google.com/maps/reviews/data=!4m8!...,None,en,0,105111603709271017469,...,NaN,$50â€“100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data1.to_csv(r"C:\Users\HP\Videos\New folder\output1.csv", index=False)

In [36]:
final_data = pd.json_normalize(response1.json(), record_path="data", meta=[['parameters','business_id']])

In [46]:
fd = final_data[['review_text','rating']]

In [54]:
final_data1= fd[~fd['review_text'].isnull()]

## Performing Simple EDA

The SEDA function analyzes a given text column in a DataFrame and detects various text patterns such as uppercase/lowercase mix, HTML tags, URLs, email addresses, mentions, special characters, and emojis.

In [55]:
def SEDA(data,column_name):
    import emoji
    
    lower_upper=data[column_name].apply(lambda x:False if (x.islower()) or(x.isupper()) else True).sum()
    
    tags=data[column_name].apply(lambda x:True if re.search("<.+?>",x) else False).sum()
    
    urls=data[column_name].apply(lambda x:True if re.search("http[s]://\S+",x) else False).sum()
    
    mail_id=data[column_name].apply(lambda x:True if re.search("\S+@\S+",x) else False).sum()
    
    mentions=data[column_name].apply(lambda x:True if re.search("\B[@#]\S+",x) else False).sum()
    
    special_chara=data[column_name].apply(lambda x:True if re.search("[0-9%*&'\\?\[\]]",x) else False).sum()
    
    emoji1=data[column_name].apply(lambda x:True if emoji.emoji_count(x)>0 else False).sum()
    
    if lower_upper>0:
        print("Not in lower or upper case")
    if tags>0:
        print("tags present")
    if urls>0:
        print("urls present")
    if mail_id>0:
        print("mail_ids present")
    if mentions>0:
        print("mentions present")
    if special_chara>0:
        print("special_chara present")
    if emoji1>0:
        print("emoji present")

In [56]:
SEDA(final_data1,"review_text")

Not in lower or upper case
special_chara present
emoji present

## Text Preprocessing Function

The pre_processing function is a text-cleaning utility that removes unwanted elements such as HTML tags, URLs, mentions, emails, punctuation, digits, emojis, and stopwords while also offering stemming and lemmatization options.

In [61]:
def pre_processing(data,column_name,lowercase=None,tags=True,urls=True,mentions=True,mail_ids=True,punctuation=True,digits=True,emojis=True,stopwordss=True,stem_lem=True,stemm=True):
    
    import emoji
    import re
    from nltk.corpus import stopwords
    from nltk.stem import PorterStemmer,WordNetLemmatizer
    
    ps=PorterStemmer()
    wl=WordNetLemmatizer()

    stp=stopwords.words("english")
    stp.remove("not")
    
    # lower or upper
    if lowercase==True:
        data[column_name]=data[column_name].str.lower()
    elif lowercase==False:
        data[column_name]=data[column_name].str.upper()
    else:
        pass
    
    # tags removal
    if tags==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("<.+?>","",x))
    else:
        pass
    
    # urls removal
    if urls==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("http[s]://\S+","",x))
    else:
        pass
    
    # mentions removal
    if mentions==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("\B[@#]\S+","",x))
    else:
        pass

    # mail-ids
    if mail_ids==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("\S+@\S+","",x))
    else:
        pass
    
    # punctuation
    if punctuation==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("[!\"#$%&'()*+,-./:;<=>?@\^_`{|}~]","",x))
    else:
        pass
    
    #digits
    
    if digits==True:
        data[column_name]=data[column_name].apply(lambda x:re.sub("[0-9]","",x))
    else:
        pass
    
    #emojis
    if emojis==True:
        data[column_name]=data[column_name].apply(lambda x:emoji.demojize(x,delimiters=('', '')))
    else:
        pass
    
    if stopwordss==True:
        d=[]
        for sent in data[column_name]:
            l=[]
            for word in sent.split():
                if word not in stp:
                    l.append(word)
            d.append([" ".join(l)])
            
        data[column_name]=pd.DataFrame(d)
    else:
        pass
    
    
    if stem_lem==True:
        d=[]
        for sent in data[column_name]:
            l=[]
            if stemm==True:
                for word in sent.split():
                        l.append(ps.stem(word))
            else:
                for word in sent.split():
                        l.append(wl.lemmatize(word))
            d.append([" ".join(l)])
        data[column_name]=pd.DataFrame(d)
    else:
        pass
        
            
    
    return data

In [62]:
final = pre_processing(final_data1,"review_text",lowercase=True,tags=False,urls=False,mentions=False,mail_ids=False,punctuation=True,digits=True,emojis=True,stopwordss=False,stem_lem=False,stemm=False)

C:\Users\HP\AppData\Local\Temp/ipykernel_6652/2003625225.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name]=data[column_name].str.lower()
C:\Users\HP\AppData\Local\Temp/ipykernel_6652/2003625225.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name]=data[column_name].apply(lambda x:re.sub("[!\"#$%&'()*+,-./:;<=>?@\^_`{|}~]","",x))
C:\Users\HP\AppData\Local\Temp/ipykernel_6652/2003625225.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name]=data[column_name].apply(lambda x:re.sub("[0-9]","",x))
C:\Users\HP\AppData\Local\Temp/ipykernel_6652/2003625225.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name]=data[column_name].apply(lambda x:emoji.demojize(x,delimiters=('', '')))

In [63]:
final

                                          review_text  rating
0                                    bueno para comer       4
1   shout out to sorat she helped me with grace ev...       5
2   this is my favorite mountain mikeâ€™s location b...       5
4   pizza is either not done in time for carry out...       1
5    kaivee is very nice guy come and visit at night        5
6   kaivee is very nice guy hes make a pizza verry...       5
7   great pizza and great service available  hours...       5
8   the food was quite average and took a really l...       1
9   we basically took over the whole place with ou...       5
11  hella nice the cashier was hella cute she made...       5
12  this is an afterâ€”christmas christmastree mirac...       5
13  ordered delivery directly through the store an...       5
14  always good pizza and always consistent friend...       5
15                        kulwinder is a vry good guy       5
16          thank you sirat for excellent hospitality       5
17  great area to chill and food was good came pre...       5
18                                          delicious       5
19  omg i was there today for the all you can eat ...       5

## The CountVectorizer from sklearn.

feature_extraction.text converts a collection of text documents into a bag-of-words (BoW) representation. It tokenizes text, removes punctuation, and creates a sparse matrix where each row corresponds to a document and each column represents a word's frequency.

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [65]:
cv = CountVectorizer()
final_data = cv.fit_transform(final["review_text"])

In [66]:
vector_data =pd.DataFrame(final_data.toarray())

In [68]:
vector_data.head(1)

,0,1,2,3,4,5,6,7,8,9,...,198,199,200,201,202,203,204,205,206,207
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
final["rating"].index= range(0,18)

In [83]:
vector_data["rating"]= final["rating"]

In [84]:
vector_data

,0,1,2,3,4,5,6,7,8,9,...,199,200,201,202,203,204,205,206,207,rating
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,5
3,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
5,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,5
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
8,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,5
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
10,1,1,2,0,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,3,5
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5
12,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,5
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5
15,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,5
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
17,0,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,5